:root {
    /* override existing or create new variables here */
    --some-value: 1rem;
}

/* YO, tüübid! Override existing or create new CSS rules here.  */


h2 {
    margin-top: 5vh;
}

h3{
    margin-top: 5vh;
}