:root {
    /* override existing or create new variables here */
    --some-value: 1rem;
    --ed-base: 16px;
    --ed-base-05: calc(var(--ed-base) * 0.5);
    --ed-base-025: calc(var(--ed-base) * 0.25);
    --ed-base-125: calc(var(--ed-base) * 1.25);
    --ed-base-15: calc(var(--ed-base) * 1.5);
    --ed-base-175: calc(var(--ed-base) * 1.75);
    --ed-base-2: calc(var(--ed-base) * 2);
    

    --ed-c-black:       hsl(0, 0%, 100%);
    --ed-c-gray-20:     hsl(0, 0%, 20%);
    --ed-c-gray-40:     hsl(0, 0%, 40%);
    --ed-c-gray-60:     hsl(0, 0%, 60%);
    --ed-c-gray-80:     hsl(0, 0%, 80%);
    --ed-c-white:       hsl(0, 0%, 100%);
    
    --ed-c-primary:     hsl(153, 48%, 46%);

    --ed-c-warning:  hsla(50, 100%, 70%, 0.3);
    
    --ed-c-yellow:  hsla(50, 100%, 60%, 1);

}

/* YO, tüübid! Override existing or create new CSS rules here.  */

.important {
    border: 1px solid var(--ed-c-gray-80);
    box-shadow: var(--ed-base-05) 0 0 0 var(--ed-c-yellow) inset;
    padding: var(--ed-base-05) var(--ed-base) var(--ed-base-05) var(--ed-base-15);
    border-radius: var(--ed-base-05);
    /* border-left: clamp( var(--ed-base-05), 1vw, var(--ed-base-15)) solid var(--ed-c-yellow); */
}
.emojicon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5ch;
    height: 3.5ch;

    /* padding: 1ch; */
    font-size: 150%;
    border: 0.25ch solid var(--ed-c-gray-80);
    border-radius: 3rem;
}


.content > div a {
    text-decoration: underline;
}

.content > div > h2, .content > div > h3 {
    margin-top: clamp(2.5rem, 8vh, 7rem);
}

.content > div > h4 {
    margin: clamp(1rem, 6vh, 5rem) 0 1rem 0;
}

mark {
    background-color: var(--ed-c-warning);
}

.ed-warning {
    background-color: var(--ed-c-warning);
}


.ed-button {
    padding: var(--ed-base-05) var(--ed-base);
    line-height: 100%;
    border-radius: 0.5ch;
    text-decoration: none;
}

.ed-button.ed-primary {
    background: var(--c-brand);
    color: var(--ed-c-white);
    text-decoration: none;
}
.ed-elevated-025 {
    box-shadow:  0 0.1rem 0 0 hsla(0, 0%, 0%, 0.2), 0 0.25rem var(--ed-base-025) 0 hsla(0, 0%, 0%, 0.1);
}
.ed-elevated-05 {
    box-shadow: 0 0.5rem var(--ed-base-05) 0 hsla(0, 0%, 0%, 0.1);
}
.ed-elevated-1 {
    box-shadow: 0 1rem var(--ed-base) 0 hsla(0, 0%, 0%, 0.1);
}

.ed-rounded-025 {
    border-radius: var(--ed-base-025);
}
.ed-rounded-05 {
    border-radius: var(--ed-base-05);
}
.ed-rounded-1 {
    border-radius: var(--ed-base);
}




.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }